# Ignore everything by default
*

# Explicitly allow what we want to track
!.gitignore
!ghostty/
!ghostty/**
!nvim/
!nvim/**
!fish/
!fish/**
!starship.toml
!bash-starship.toml
!hypr/
!hypr/**
!noctalia/
!noctalia/**

# Exceptions within tracked dirs
nvim/lazy-lock.json
